<div class="allBoxes">

<% @documents.reverse_each do |d| %>
<%= render 'sharemodal', document: d %>
  <%= link_to url_for(action: 'show', controller: 'documents', id: "#{d.id}") do %>
  <div class="allBox">

    <div class="allFileContainer">
      <img  src='<%=image_path("file.png")%>'>
    </div>

    <div class="allFileName">
      <span><%= d.name %></span>
    </div>
  <% end %>

    <div class="progressBar">
      <a><span class="glyphicon glyphicon-link toolBtn" title = "Share file" data-toggle="modal" data-target="#myModalShareFile"></span></a>
      <%= link_to url_for('https://mail.google.com/mail/?view=cm&fs=1&tf=1'), target: :_blank do%>
        <span class="glyphicon glyphicon-envelope toolBtn" title = "Email file"> </span>
      <% end %>
      <%= link_to url_for(action: 'download_origin', controller: 'documents', id: "#{d.id}"), data: {confirm: 'Download file?'} do %>
        <span class="glyphicon glyphicon-download-alt toolBtn" title = "Download file"></span>
      <% end %>
      <% if @user.id.to_s == d.owner_id %>
        <%= link_to document_destroy_path(d, :id => d.id), controller: 'documents', action: 'destroy', method: :delete, data: {confirm: 'Delete this file?'} do %>
          <span class="glyphicon glyphicon-trash toolBtn" title = "Delete file"> </span>
        <% end %>
      <% else %>
        <%= link_to unshare_path(:unshare_id => @user.id, :document_id => d.id, :redirect_target => "user_show"), controller: 'documents', action: 'unshare', method: :delete, data: {confirm: "Stop following this file?"} do %>
          <span class="glyphicon glyphicon-eye-close toolBtn" title = "Delete file"> </span>
        <% end %>
      <% end %>
    </div>

  </div>

<% end %>

</div>
