<div class="allBoxes">

<% @documents.reverse_each do |d| %>

  <%= link_to url_for(action: 'show', controller: 'documents', id: "#{d.id}") do %>
  <div class="allBox">

    <div class="allFileContainer">
      <img  src='<%=image_path("file.png")%>'>
    </div>

    <div class="allFileName">
      <span><%= d.name %></span><span><%= d.id %></span>
    </div>

    <div class="progressBar">
      <span class="glyphicon glyphicon-link toolBtn" title = "Share file"> </span>
      <%= link_to url_for('https://mail.google.com/mail/?view=cm&fs=1&tf=1'), target: :_blank do%>
        <span class="glyphicon glyphicon-envelope toolBtn" title = "Email file"> </span>
      <% end %>
      <%= link_to url_for(action: 'download_origin', controller: 'documents', id: "#{d.id}"), data: {confirm: 'Download file?'} do %>
        <span class="glyphicon glyphicon-download-alt toolBtn" title = "Download file"></span>
      <% end %>
      <%= link_to document_destroy_path(d, :id => d.id), controller: 'documents', action: 'destroy', method: :delete do %>
        <span class="glyphicon glyphicon-trash toolBtn" title = "Delete file"> </span>
      <% end %>
    </div>

  </div>



  <% end %>
<% end %>

</div>
