<h1>completed</h1>
     <!-- <div class="content">
        <div class="fileContainer">
          <div class="file">
            <img src='<%=image_path("file.png")%>' alt="file">
          </div>
          <div class="fileName">
            <h4>FileName</h4>
          </div>
          <div class="completedFile">
            <img class="completed" src='<%=image_path("file.png")%>'>
            <img class="check" src='<%=image_path("check.png")%>'>
          </div>
        </div>
        <div class="progressBar">
          <div class="meterInitial">
          </div>
          <div class="progressWord">
            <span>15% : Pending</span>
          </div>
        </div>
      </div>


      <div class="content">
        <div class="fileContainer">
          <div class="file">
            <img src='<%=image_path("file.png")%>' alt="file">
          </div>
          <div class="fileName">
            <h4>FileName</h4>
          </div>
          <div class="completedFile">
            <img class="completed" src='<%=image_path("file.png")%>'>
            <img class="check" src='<%=image_path("check.png")%>'>
          </div>
        </div>
        <div class="progressBar">
          <div class="meterprocessing">
          </div>
          <div class="progressWord">
            <span>35% : Processing</span>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="fileContainer">
          <div class="file">
            <img src='<%=image_path("file.png")%>' alt="file">
          </div>
          <div class="fileName">
            <h4>FileName</h4>
          </div>
          <div class="completedFile">
            <img class="completed" src='<%=image_path("file.png")%>'>
            <img class="check" src='<%=image_path("check.png")%>'>
          </div>
        </div>
        <div class="progressBar">
          <div class="meterprocessing">
          </div>
          <div class="progressWord">
            <span>35% : Processing</span>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="fileContainer">
          <div class="file">
            <img src='<%=image_path("file.png")%>' alt="file">
          </div>
          <div class="fileName">
            <h4>FileName</h4>
          </div>
          <div class="completedFile">
            <img class="completed" src='<%=image_path("file.png")%>'>
            <img class="check" src='<%=image_path("check.png")%>'>
          </div>
        </div>
        <div class="progressBar">
          <div class="meterFinalCheck">
          </div>
          <div class="progressWord">
            <span>75% : Final Check</span>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="fileContainer">
          <div class="file">
            <img src='<%=image_path("file.png")%>' alt="file">
          </div>
          <div class="fileName">
            <h4>FileName</h4>
          </div>
          <div class="completedFile">
            <img class="completed" src='<%=image_path("file.png")%>'>
            <img class="check" src='<%=image_path("check.png")%>'>
          </div>
        </div>
        <div class="progressBar">
          <div class="meterCompleted">
          </div>
          <div class="progressWord">
            <span>100% : Completed</span>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="fileContainer">
          <div class="file">
            <img src='<%=image_path("file.png")%>' alt="file">
          </div>
          <div class="fileName">
            <h4>FileName</h4>
          </div>
          <div class="completedFile">
            <img class="completed" src='<%=image_path("file.png")%>'>
            <img class="check" src='<%=image_path("check.png")%>'>
          </div>
        </div>
        <div class="progressBar">
          <div class="meterCompleted">
          </div>
          <div class="progressWord">
            <span>100% : Completed</span>
          </div>
        </div>
      </div> -->