<div class="container">
  <header>
    <div class="logo">
      <a href="/">
        <img src= '<%=image_path("logo.png")%>' alt="">
      </a>
      <h2>Trimdat</h2>
    </div>
    <div class="signin">

      <button class="btn btn-info btn-lg btn3d" type="button" name="signin" data-toggle="modal" data-target="#myModalSignIn">Sign In</button>
      <button class="btn btn-info btn-lg btn3d" type="button" name="signup" data-toggle="modal" data-target="#myModalSignUp">Sign Up</button>

    </div>

    <div class="fix">
    </div>

  </header>
  <div class="mainContent">
    <div class="contentNav">
      <a id="allDocs" href="">All</a>
      <a id="processingDocs" href="">Processing</a>
      <a id="completedDocs" href="">Completed</a>
      <button class="btn button-post btn-lg btn3d" type="button" name="uploadDoc" data-toggle="modal" data-target="#myModalUploadDoc">+</button>
    </div>
    <hr>

    <!-- <button class="btn btn-info btn-lg btn3d" type="button" name="signup" data-toggle="modal" data-target="#myModalSignUp">Sign Up</button> -->

    <div id="boxForDocsToRender">
      <%= render 'all' %>
    </div>

    <script type="text/javascript">
      $('#allDocs').on('click', function(e){
        e.preventDefault()
        $('#boxForDocsToRender').html(`<%= render 'all' %>`)
      })
      $('#completedDocs').on('click', function(e){
        e.preventDefault()
        $('#boxForDocsToRender').html("<%= render 'completed' %>")
      })
      $('#processingDocs').on('click', function(e){
        e.preventDefault()
        $('#boxForDocsToRender').html("<%= render 'processing' %>")
      })
    </script>

  </div>

  <div class="footer">
    <h2><%= link_to "About Us", about_path %></h2>
  </div>

</div>
