<div class="newRequest">

  <div class="requestFileName">
    <h1><%= @document.name %></h1>
  </div>

<%= form_with scope: :document, url: document_fix_path, method: "put" do |f| %>

  <div id="serviceSelector">
  <% if @document.data_type == "text/csv" %>
    <div class="inputForm">
      <label for="sortCheckBox" class="btn btn-default">Sort<input type="checkbox" id="sortCheckBox" class="badgebox"><span class="badge">&check;</span></label>
    <div id="sortInputForm"></div>
    </div>
    <div class="inputForm">
      <label for="rmvCheckBox" class="btn btn-default">Remove Duplicate<input type="checkbox" id="rmvCheckBox" class="badgebox"><span class="badge">&check;</span></label>
      <div id="rmvInputForm"></div>
    </div>
  <% end %>
    <div class="inputForm">
      <label for="woCheckBox" class="btn btn-default">Word Occurrence<input type="checkbox" id="woCheckBox" class="badgebox"><span class="badge">&check;</span></label>
      <div id="woInputForm"></div>
    </div>
    <div class="inputForm">
      <label for="customizeCheckBox" class="btn btn-default">Customize<input type="checkbox" id="customizeCheckBox" class="badgebox"><span class="badge">&check;</span></label>
      <div id="customizeInputForm"></div>
    </div>
  </div>

  <div class="fix">

  </div>

  <%= f.submit "submit", :class => "btn btn-default"%><br>

  <script>
  	$("#sortCheckBox").on('change', function(){
  		if(this.checked){$("#sortInputForm").html(`<%= f.text_field :sort_by, placeholder: "Sort by:" %>`)}else{$("#sortInputForm").html("")}
  	})
  	$("#rmvCheckBox").on('change', function(){
  		if(this.checked){$("#rmvInputForm").html(`<%= f.text_field :rmv_duplicate, value: "1", :style => "display: none;" %>`)}else{$("#rmvInputForm").html("")}
  	})
  	$("#woCheckBox").on('change', function(){
  		if(this.checked){$("#woInputForm").html(`<%= f.text_field :word_occurrence, placeholder: "Type search term here" %>`)}else{$("#woInputForm").html("")}
  	})
  	$("#customizeCheckBox").on('change', function(){
  		if(this.checked){$("#customizeInputForm").html(`<%= f.label "Please describe your need" %><%= f.text_area :customize, placeholder: "..." %>`)}else{$("#customizeInputForm").html("")}
  	})
  </script>

  <div class="fileReviewBox">
    <div class="fileReview">
      <% if @document.data_type == "text/csv" %>
      <%= simple_format(render_csv(@document.original_file)) %>
      <% else %>
      <%= simple_format(@document.original_file) %>
      <% end %>
    </div>
  </div>


  <%end%>
</div>
