<%= render 'sharemodal', document: @document %>
<div class="newRequest">

  <div class="page-wrap">
    <div class="sidebar">
      <span class="btn glyphicon glyphicon-link toolBtn" title = "Share file" data-toggle="modal" data-target="#myModalShareFile"></span>
      <p>Shared with:</p>
      <hr>
      <ul>
        <% @document.users.each do |user| %>
          <% if user.id != @user.id %>
            <li>
            <%= user.user_name %>
              <%= link_to unshare_path(:unshare_id => user.id, :document_id => @document.id), controller: 'documents', action: 'unshare', method: :delete, data: {confirm: "Stop sharing this file to #{user.user_name}?"}  do %>
                <span class="glyphicon glyphicon-trash toolBtn" title = "Delete file"> </span>
              <% end %>  
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- <button class="glyphicon glyphicon-link toolBtn" type="button" name="share" data-toggle="modal" data-target="#myModalShareFile">add friend</button> -->

  <div class="requestFileName">
    <h1><%= @document.name %></h1>
    <hr>
  </div>


<%= form_with scope: :document, url: document_fix_path, method: "put" do |f| %>

  <div id="serviceSelector">
  <% if @document.data_type == "text/csv" || @document.data_type == "application/vnd.ms-excel" %>
    <div class="inputForm">
      <label for="sortCheckBox" class="btn btn-default">Sort<input type="checkbox" id="sortCheckBox" class="badgebox"><span class="badge">&check;</span></label>
    <div id="sortInputForm"></div>
    </div>
    <div class="inputForm">
      <label for="rmvCheckBox" class="btn btn-default">Remove Duplicate<input type="checkbox" id="rmvCheckBox" class="badgebox"><span class="badge">&check;</span></label>
      <div id="rmvInputForm"></div>
    </div>
  <% end %>
    <div class="inputForm">
      <label for="woCheckBox" class="btn btn-default">Word Occurrence<input type="checkbox" id="woCheckBox" class="badgebox"><span class="badge">&check;</span></label>
      <div id="woInputForm"></div>
    </div>
    <div class="inputForm">
      <label for="customizeCheckBox" class="btn btn-default">Customize<input type="checkbox" id="customizeCheckBox" class="badgebox"><span class="badge">&check;</span></label>
      <div id="customizeInputForm"></div>
    </div>
  </div>

  <div class="fix">

  </div>

  <%= f.submit "submit", :class => "btn btn-default submitReq"%><br>
  <div class="progressBox">

  </div>

  <div class="ReviewBox">
  <div class="fileReviewNav">
    <div class="reviewNav">
      <a id="oldFile" href=""><span>Old</span></a>
      <% if @document.fixed_file != nil %>
      <a id="newFile" href=""><span>New</span></a>
      <% end %>
    </div>
  </div>

  <div class="fileReviewBox">
    <div class="fileReview">
      <% if @document.data_type == "text/csv" %>
      <%= simple_format(render_csv(@document.original_file)) %>
      <% else %>
      <%= simple_format(@document.original_file) %>
      <% end %>
    </div>
  </div>

  <script>
    $('.submitReq').on('click',function(){
        if($(".inputForm input:checkbox:checked").length == 0) {
          alert("Please select at least one service");
          return;
        }
        $('.progressBox').html("")
        $('.progressBox').append('<h1 class="wordForWork">Our employees are woking very hard!</h1><br>')
        $('.progressBox').append('<img class="workForUs" src="<%=image_path("working1.gif")%>">')
        $('.progressBox').append('<img class="workForUs" src="<%=image_path("working2.gif")%>">')
        $('.progressBox').append('<img class="workForUs" src="<%=image_path("working3.gif")%>"><br>')
        $('.progressBox').append('<div class="progress progressForDoc"><div class="progress-bar progress-bar-striped progress-bar-success active runOnProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div></div>')


        setTimeout(function(){ $('.workForUs').remove() }, 5500);
        setTimeout(function(){ $('.wordForWork').remove() }, 5500);
        setTimeout(function(){ $('.progressBox').append('<img class="completedLogo" src="<%=image_path("check.png")%>" title = "Request completed">') }, 5500);

        setTimeout(function(){ $('.progressBox').append(`
          <%= link_to url_for(action: 'download_fixed', controller: 'documents', id: "#{@document.id}"), data: {confirm: 'Download new file?'} do %>
            <span class="glyphicon glyphicon-download-alt completedLogo" title = "Download file"></span>
          <% end %>

          `) }, 5500);
        setTimeout(function(){
          getFixed();
        }, 5500);

      for (var i = 0; i < 101; i++) {
        (function (i) {
          setTimeout(function(){ $('.runOnProgress').attr("style","width: "+ i +"%") && $('.runOnProgress').text(i +"%") }, 50*i);
        }) (i);
      }
    });

  	$("#sortCheckBox").on('change', function(){
  		if(this.checked){$("#sortInputForm").html(`<%= f.text_field :sort_by, placeholder: "Sort by:" %>`)}else{$("#sortInputForm").html("")}
  	})
  	$("#rmvCheckBox").on('change', function(){
  		if(this.checked){$("#rmvInputForm").html(`<%= f.text_field :rmv_duplicate, value: "1", :style => "display: none;" %>`)}else{$("#rmvInputForm").html("")}
  	})
  	$("#woCheckBox").on('change', function(){
  		if(this.checked){$("#woInputForm").html(`<%= f.text_field :word_occurrence, value: "1", :style => "display: none;" %>`)}else{$("#woInputForm").html("")}
  	})
  	$("#customizeCheckBox").on('change', function(){
  		if(this.checked){$("#customizeInputForm").html(`<%= f.label "Please describe your need" %><%= f.text_area :customize, placeholder: "..." %>`)}else{$("#customizeInputForm").html("")}
  	})
    $("#oldFile").on("click", function(e){
      e.preventDefault()
      $(".fileReviewBox").html(`<% if @document.data_type == "text/csv" %>
      <%= simple_format(render_csv(@document.original_file)) %>
      <% else %>
      <%= simple_format(@document.original_file) %>
      <% end %>`)
    })
    $("#newFile").on("click", function(e){
      e.preventDefault()
      getFixed()
    })
    function getFixed(){
      var id = <%= raw @document.id %>;
      $.ajax({
        url: `/documents/get_fixed/${id}.json`, 
        success: function(json){
          console.log(json)
          str = json.fixed
          str = str.replace(/\n/g, '<br />');
          $(".fileReviewBox").html(`${str}`)
        }
      });
    }
  </script>
</div>


  <%end%>
</div>
