<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trimdat</title>
    <!-- <link rel="icon" href=""> -->
    <!-- why didn't the icon change? -->
    <!-- <link rel="shortcut icon" href="sword-icon.png"/> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- HAVE TO INCLUDE VALIDATOR TO USE VALIDATOR!!!! THIS THING TOOK ME AN HOUR TO SOLVE -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <ul>
      <% if current_user %>
        <button><%= link_to "Home", "/" %></button>
        <button><%= link_to "Profile", user_path(current_user) %></button>
        <button><%= link_to "Log Out", logout_path %></button>
      <% else %>
        <li><%= link_to "Create Account", new_user_path %></li>
        <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>

      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      
    <%= yield %>

    <!-- Modal for sign in -->
    <div class="modal fade" id="myModalSignIn" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                           data-dismiss="modal">
                               <span aria-hidden="true">&times;</span>
                               <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Sign In
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <%= form_for @user, url: "/sessions", method: "post" do |f| %>
                        <div>
                          <%= f.text_field :user_name, placeholder: "Username" %>
                        </div>
                        <div>
                          <%= f.password_field :password, placeholder: "Password" %>
                        </div>
                        <%= f.submit "Log In", :class => "btn btn-default"%>
                        <%end%>

                        <!-- <form role="form">
                          <div class="form-group">
                            <label for="inputUsername">Username</label>
                              <input type="text" class="form-control"
                              id="inputUsername" placeholder="Enter Username"/>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword">Password</label>
                              <input type="password" class="form-control"
                                  id="inputPassword" placeholder="Password"/>
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form> -->


                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                                    Close
                        </button>
                    </div>
        </div>
      </div>
    </div>

    <!-- Modal for sign up -->
      <div class="modal fade" id="myModalSignUp" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          <!-- Modal Header -->
                      <div class="modal-header">
                          <button type="button" class="close"
                             data-dismiss="modal">
                                 <span aria-hidden="true">&times;</span>
                                 <span class="sr-only">Close</span>
                          </button>
                          <h4 class="modal-title">
                              Sign Up Form
                          </h4>
                      </div>

                      <!-- Modal Body -->
                      <div class="modal-body">
                          <%= form_for @user, url: sign_up_path, method: "post" do |f| %>
                          <div>
                            <%= f.text_field :user_name, placeholder: "Username" %>
                          </div>
                          <div>
                            <%= f.text_field :email, placeholder: "Email" %>
                          </div>
                          <div>
                            <%= f.password_field :password, placeholder: "Password" %>
                          </div>
                          <%= f.submit "Sign up", :class => "btn btn-default"%>
                          <%end%>
                          <!-- <form role="form">
                            <div class="form-group">
                              <label for="inputUsernameSignUp">Username</label>
                                <input type="text" class="form-control"
                                id="inputUsernameSignUp" placeholder="Enter Username"/>
                            </div>
                            <div class="form-group">
                              <label for="inputPassword">Password</label>
                                <input type="password" class="form-control"
                                    id="inputPasswordSignUp" placeholder="Password"/>
                            </div>
                            <button type="submit" class="btn btn-default">Sign Up</button>
                          </form> -->


                      </div>

                      <!-- Modal Footer -->
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default"
                                  data-dismiss="modal">
                                      Close
                          </button>
                      </div>
          </div>
        </div>
      </div>

</body>
</html>
