<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trimdat</title>
    <!-- <link rel="icon" href=""> -->
    <!-- why didn't the icon change? -->
    <!-- <link rel="shortcut icon" href="sword-icon.png"/> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- STYLESHEETS -->
    <!-- HAVE TO INCLUDE VALIDATOR TO USE VALIDATOR!!!! THIS THING TOOK ME AN HOUR TO SOLVE -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

      <header>
        <div class="logo">
          <a href="/">
            <img src="<%=image_path("logo.png")%>" alt="">
          </a>
          <h2>Trimdat</h2>
        </div>
        <% if current_user %>
          <div class="signin">
            <%= button_to("Log out", logout_path, method: :delete, :class => "btn btn-lg btn-info") %>
            <%= button_to("Profile", user_path(current_user), method: :get, :class => "btn btn-lg btn-info") %>
            <%= button_to("Home", '/', method: :get, :class => "btn btn-lg btn-info") %>
          </div>
        <%else%>
          <div class="signin">
            <button class="btn btn-lg btn-info" type="button" name="signup" data-toggle="modal" data-target="#myModalSignUp">Sign Up</button>
            <button class="btn btn-lg btn-info" type="button" name="signin" data-toggle="modal" data-target="#myModalSignIn">Sign In</button>
          </div>
        <%end%>
      </div>

        <div class="fix">
        </div>

      </header>

      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>

    <%= yield %>

    <div class="footer">
      <h2>Trimdat | 225 Bush St. Floor 5 San Francisco, Ca, 94104 &copy; 2017</h2>
      <h2><%= link_to "About Us", about_path %></h2>
    </div>

    <!-- Modal for sign in -->
    <div class="modal fade" id="myModalSignIn" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close"
                 data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">
                  Sign In
              </h4>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">
              <%= form_with scope: :user, url: login_path, method: "post" do |f| %>
              <div>
                <%= f.text_field :user_name, placeholder: "Username" %>
              </div>
              <div>
                <%= f.password_field :password, placeholder: "Password" %>
              </div>
              <%= f.submit "Log In", :class => "btn btn-default"%>
              <%end%>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">
                          Close
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for sign up -->
      <div class="modal fade" id="myModalSignUp" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Sign Up Form
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <%= form_with scope: :user, url: sign_up_path, method: "post" do |f| %>
                <div>
                  <%= f.text_field :user_name, placeholder: "Username" %>
                </div>
                <div>
                  <%= f.text_field :email, placeholder: "Email" %>
                </div>
                <div>
                  <%= f.password_field :password, placeholder: "Password" %>
                </div>
                <%= f.submit "Sign up", :class => "btn btn-default"%>
                <%end%>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for upload -->
      <div class="modal fade" id="myModalUploadDoc" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Choose your file (csv or txt)
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
            <%= form_with scope: :document, url: documents_new_path, method: "post" do |f| %>
            <div>
            <%= f.file_field :file %>
            </div>

            <select class="selectpicker requestBox" id="serviceSelector">
              <optgroup label="Free service">
                <option value="sort">Sort</option>
                <option value="rmDouble">Remove Duplicate</option>
                <option value="wordCount">Word Count</option>
              </optgroup>
              <optgroup label="Special Request">
                <option value="customize">Customize</option>
              </optgroup>
            </select>

            <div id="serviceInputForm"></div>

            <script>
            $("#serviceSelector").on('change', function() {
              var str;
              switch($("#serviceSelector option:selected").text()) {
                  case "Sort":
                      str = `<%= f.text_field :sort_by, placeholder: "Sort by:" %>`
                      break;
                  case "Remove Duplicate":
                      str = ""
                      $("#serviceInputForm").html(`<% f.text_field :rmv_duplicate, value: "1" %>`)
                      break;
                  case "Word Count":
                      str = `<%= f.text_field :word_count, placeholder: "Type in your word" %>`
                      break;
                  case "Customize":
                      str = `
                      <%= f.label "Please describe your need" %>
                      <%= f.text_area :customize, placeholder: "..." %>`
                      break;
                  // default:
                  //     break;
              }
              $("#serviceInputForm").html(str);
              })
            </script>

            <div class="fix">

            </div>
            <%= f.submit "upload", :class => "btn btn-default"%>
            <%end%>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
            </div>
          </div>
        </div>
      </div>

</body>
</html>
