<!DOCTYPE html>
<html>
  <head>
    <title>LibApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <% if current_user %>
        <button><%= link_to "Home", "/" %></button>
        <button><%= link_to "Profile", user_path(current_user) %></button>
        <button><%= link_to "Log Out", logout_path %></button>
      <% else %>
        <button><%= link_to "Home", "/" %></button>
        <button><%= link_to "Create Account", new_user_path %></button>
        <button><%= link_to "Log In", login_path %></button>
      <% end %>
    </div>
    <% flash.each do |name, msg| %>
      <p>
        <small> <%= name.capitalize %>: <%= msg %> </small>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
